@model SimplCommerce.Module.PaymentEPayCo.Areas.PaymentEPayCo.ViewModels.EPayCoCheckoutForm

<label>EPayCo</label>
<form asp-area="PaymentEPayCo" asp-controller="EPayCo" asp-action="Charge" method="POST">
    <script src="//checkout.epayco.co/checkout.js"
            class="epayco-button"
            data-epayco-key="@Model.Key"
            data-epayco-country="@Model.Country"
            data-epayco-currency="@Model.Currency"
            data-epayco-name="@Model.Name"
            data-epayco-description="@Model.Description"
            data-epayco-test="@Model.Test"
            data-epayco-external="false"
            data-epayco-amount="@Model.Amount"
            data-epayco-tax="@Model.Tax"
            data-epayco-tax-base="@Model.TaxBase"
            data-epayco-response="@Model.ResponseUrl"
            >
    </script>
</form>
